html {
  height: 100%;
}

body {
  background-color: $color-lighter;
  font-family: $font-main;
  min-height: 100%;
  padding: 1rem;

  &.max-width {
    height: 100%;
    margin: 0 auto;

    @include breakpoint(md) {
      max-width: 1200px;
    }
  }
}

.row {
  display: block;

  @include breakpoint(md) {
    @include flex(space-between, center);
  }

  .col {
    display: block;
  }

}

header {
  form {
    width: 100%;
    border-radius: .7rem;
    background-color: $color-white;

    @include flex(space-evenly, center);

    select,
    input {
      border: 0;
      padding: 0;

      @include breakpoint(md) {
        height: 3rem;
        margin: .7rem;
      }
    }


  }
}

footer {
  display: block;
  margin-top: 2rem;
}
