.lists {
  display: block;

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: repeat(3, 31%);
    gap: 3%;
  }

  .photo {
    position: relative;
    overflow: hidden;
    max-height: 250px;
    margin-bottom: 1rem;
    border-radius: 1rem;
    aspect-ratio: 16 / 10;

    img {
      display: block;
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
    }
  }

  .details {
    .unit {
      margin-bottom: .5rem;
      padding: .3rem 0;

      @include flex(space-between, center);

      .host {
        padding: .2rem .5rem;
        text-transform: uppercase;
        border: 1px solid $color-dark;
        border-radius: .8em;
        font-size: 80%;
      }

      .type {
        display: inline-flex;
        color: $color-dark;
      }

      .rating {
        .material-icons {
          vertical-align: bottom;
          color: salmon;
        }
      }
    }

    .score {
      @include flex('', center)
    }
  }
}
