.list {
  display: block;
  &-wrapper {
    @include breakpoint(md) {
      display: flex;
      flex-wrap: wrap;
    }

  }
}

.item {
  &-wrapper {
    margin-bottom: 2rem;

    @include breakpoint(md) {
      width: calc(calc(100% / 3) - 2rem);
      margin: 1rem;
    }

    .photo {
      position: relative;
      overflow: hidden;
      max-height: 250px;
      margin-bottom: 1rem;
      border-radius: 1rem;
      aspect-ratio: 16 / 10;

      img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
      }
    }

    .unit {
      margin-bottom: 0.5rem;
      padding: 0.3rem 0;

      @include flex(space-between, center);

      .host {
        padding: 0.2rem 0.5rem;
        text-transform: uppercase;
        border: 1px solid $color-dark;
        border-radius: 0.8em;
        font-size: 80%;
      }

      .type {
        display: inline-flex;
        color: $color-dark;
      }

      .rating {
        .material-icons {
          vertical-align: bottom;
          color: salmon;
        }
      }
    }

    .score {
      @include flex('', center);
    }
  }
}
