@mixin flex ($justify, $alignment) {
  align-items: $alignment;
  display: flex;
  justify-content: $justify;
}

@mixin breakpoint($size) {
  @if $size=='sm' {
    @media screen and (min-width: $screensize-sm) {
      @content ;
    }
  }

  @else if $size=='md' {
    @media screen and (min-width: $screensize-md) {
      @content ;
    }
  }

  @else if $size=='lg' {
    @media screen and (min-width: $screensize-lg) {
      @content ;
    }
  }

  @else if $size=='xl' {
    @media screen and (min-width: $screensize-xl) {
      @content ;
    }
  }
}
